header {
    display: flex;
    background: $bg_header;
    position: sticky;
    top: 0;
    z-index: 999;
    article {
        order: 1;
        .logo {
            padding: 0px 1rem 0 1rem;
            img,
            svg {
                max-width: 12rem;
            }
        }
    }

    nav {
        flex: 1;
        order: 2;
        #main-menu {
            justify-content: center;
        }
    }

    aside {
        order: 3;
        align-self: center;
        justify-content: flex-end;
        display: flex;
        padding-right: 1rem;
        .top-bar-socials {
            color: $other;
            padding: 0px 5px 0px 0px;
        }
        .widget_text,
        .widget,
        .widget_custom_html {
            list-style: none;
            .social-wrap {
                list-style: none;
                display: inline-flex;
                li {
                    padding-left: 5px;
                    a {
                        color: $other;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    header > article {
        flex: 1;
        order: 2;
    }

    header > nav {
        flex: 1;
        order: 1;
        .navbar-toggler {
            margin-left: 1rem;
        }
        #menu-button {
            border-color: $primary;
        }
        #main-menu{
            padding-left: 1rem;
        }
    }

    header > aside {
        flex: 1;
        order: 3;
    }

    header > aside.toggel {
        align-self: self-start;
    }
}
