.page-wrap {
    background: $bg_white;
    .container {
        max-width: 1366px;
        padding-left: 0px;
        padding-right: 0px;
        .wp-block-columns {
            margin-bottom: 0;
        }
        .fp-intro {
            padding: 3rem 3rem 2rem 3rem;
            background: $bg_white;
        }
        .fp-destinations {
            padding: 2rem 1rem 2rem 1rem;
            .blocks-gallery-item__caption {
                position: absolute;
                bottom: 0;
                width: 100%;
                max-height: 100%;
                overflow: auto;
                padding: 1em 1em 1em;
                color: #fff;
                text-align: center;
                font-size: 1em;
                background: $bg_page_title;
            }
        }
        .fp-best-tours {
            padding: 2rem 1rem 2rem 1rem;
            background: $bg_white;
            .card-body {
                background: $bg_off_white;
                .card-title {
                    margin-bottom: 0.5rem;
                    border: orange solid 2px;
                    padding: 0.5rem;
                }
            }
        }
        .fp-blogs {
            padding: 2rem 1rem 2rem 1rem;
            .card-body {
                background: $bg_white;
                a {
                    text-decoration: none;
                    color: $secondary;
                    .card-title {
                        margin-bottom: 0.5rem;
                        border: orange solid 2px;
                        padding: 0.5rem;
                    }
                }
            }
            .card-img,
            .card-img-top {
                min-height: 360px;
                object-fit: cover;
            }
        }
        .bg-offwhite {
            background: $bg_off_white;
        }
        .ap-intro {
            padding-left: 2rem;
        }
        .ap-s2 {
            padding-right: 1rem;
        }
        .category-title {
            padding: 1rem 0 0 1rem;
        }
        .category-name {
            color: $primary;
        }
        hr:not([size]) {
            height: 3px;
        }
        .acf-map {
            height: 100%;
        }
        .cp-heading {
            margin-top: 1rem;
            color: $other;
        }
        .cp-subheading {
            color: $primary;
        }
        .cp-details {
            color: $secondary;
        }
        .cp-social-icons {
            display: flex;
            ul {
                list-style: none;
                display: contents;
                li {
                    margin-right: 5px;
                    font-size: 2rem;
                    a {
                        color: $primary;
                    }
                }
            }
        }
    }
}

.banner {
    margin-top: -8rem;
    .banner-img {
        position: relative;
        text-align: center;
        z-index: -1;
        img {
            max-width: 100%;
            height: 40rem;
            object-fit: cover;
            width: 100%;
        }
        .page-title {
            position: absolute;
            background: $bg_page_title;
            text-align: center;
            bottom: 0;
            width: 100%;
            color: white;
            padding-bottom: 1rem;
            .page_subtitle {
                color: $primary;
            }
        }
    }
}

.tour-search-bar {
    padding: 1rem;
    background: $secondary;
    color: white;
    .btn-wide {
        width: -webkit-fill-available;
    }
}

.card-body {
    a {
        text-decoration: none;
        color: $secondary;
        h5 {
            padding: 0.5rem 0 0.5rem 0;
            border: $primary solid 2px;
            text-align: center;
            min-height: 4rem;
        }
    }
    hr {
        margin: 0;
    }
}

#blog-card {
    border: none !important;
    #blog-card-border {
        border: $primary solid 2px;
        #blog-card-body {
            border-left: $primary solid 2px;
            .card-body {
                background: $bg_off_white;
                .title-link {
                    width: 100%;
                    h5 {
                        border: $primary solid 2px;
                        color: $secondary;
                        text-transform: uppercase;
                        padding: 1rem;
                    }
                    h5:hover {
                        color: $other;
                    }
                }
            }
        }
    }
}

.form-title {
    padding: 1rem 0 0 1rem;
    color: $primary;
}

.form-box {
    border: gray solid 3px;
    padding: 1rem;
    margin: 1rem;
    .personal-details {
        color: $primary;
        text-transform: uppercase;
    }
    input,
    textarea {
        border: $primary solid 2px;
        border-radius: 4px;
    }
    .select2-container,
    .select2-selection {
        border: $primary solid 2px;
        border-radius: 4px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .wp-block-gallery {
        .blocks-gallery-item {
            width: calc(50% - 1em) !important;
            margin-right: 1rem !important;
        }
    }
    .learn-more {
        width: 75% !important;
    }
}

@media only screen and (max-width: 575px) {
    .banner {
        .banner-img {
            img {
                min-height: 20rem;
            }
        }
    }

    .tour-search-bar {
        #search-button {
            margin-top: 1rem;
        }
    }

    .wp-block-gallery {
        display: block;
        .blocks-gallery-item {
            width: 100%;
            margin-right: 0 !important;
        }
    }

    .learn-more {
        width: 100% !important;
    }

    #blog-card {
        #blog-card-border {
            #blog-card-body {
                border-left: none;
                border-top: $primary solid 2px;
            }
        }
    }
}
